*{
	margin:0;
	padding: 15px;
	color: #FFFFFF;
}
header{
	background-color: #6488C1;
	margin:0;
	padding:0;
	border:none;

	text-align: center;
	
}
nav{
	background-color: #BCD4E6;
	margin-top: 0px;
	padding:0;
	border: none;
	text-align:center;
}

section{
	background-color:#CD5C5D;
	height :700px;
	
}
footer{
	background-color: #B33C3C;
}

iframe{
	height: 500px;
	width: 900px;
	border:none;
	
}
